<div class="text-center p-3 m-2 bg-warning rounded-3">
    <p>Symbol: <span>{{symbol}}</span></p>
    <p>Price: <span>{{price}}</span></p>
    <p>Shares: <span>{{shares}}</span></p>
    <p>Type: <span>{{type}}</span></p>
    <p>Date: <span>{{createdAt}}</span></p>
</div>