<ul>
    <p>Symbol: {{stock.symbol}}</p>
    <p>Shares: {{stock.price}}</p>
    <p>Day High: {{stock.high}}</p>
    <p>Day Low: {{stock.low}}</p>
    <p>52 Week High: {{stock.yearHigh}}</p>
    <p>52 Week Low: {{stock.yearLow}}</p>
</ul>

