<ul>
    <p>Symbol: {{symbol}}</p>
    <p>Price: {{price}}</p>
    <p>Day High: {{high}}</p>
    <p>Day Low: {{low}}</p>
    <p>52 Week High: {{yearHigh}}</p>
    <p>52 Week Low: {{yearLow}}</p>
</ul>