{{!-- in future change colors based on light/dark mode --}}
<tr class="">
    <td scope="row">{{symbol}}</td>
    <td scope="row">{{price}}</td>
    <td scope="row" class="table-success">{{high}}</td>
    <td scope="row" class="table-danger">{{low}}</td>
    <td scope="row">{{yearHigh}}</td>
    <td scope="row">{{yearLow}}</td>
</tr>