<ul>
    <p>Symbol: <span id="symbol">{{symbol}}</span></p>
    <p>Price: <span id="price">{{price}}</span></p>
    <p>Day High: <span>{{high}}</span></p>
    <p>Day Low: <span>{{low}}</span></p>
    <p>52 Week High: <span>{{yearHigh}}</span></p>
    <p>52 Week Low: <span>{{yearLow}}</span></p>
</ul>